extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Identidad UEB

//- Content page
block content
	
	//- banner
	section.banner-home#recursos
		div.max_width_container
			div
				h1 Políticas de Diseño Universidad El Bosque
				
			p Learn how to improve your playing quality and even overall understanding of online gaming and how you perform while playing online. Gaming online is a huge business nowadays and that means that there are millions of people worldwide at online game sites all the time. Many are people just like you and me that like to play online and have fun doing it. Some of these people enjoy it so much, that they often do not even care about improving their skill and raising their chances of winning.
			
			p Learn how to improve your playing quality and even overall understanding of online gaming and how you perform while playing online. Gaming online is a huge business nowadays and that means that there are millions of people worldwide at online game sites all the time. Many are people just like you and me that like to play online and have fun doing it. Some of these people enjoy it so much, that they often do not even care about improving their skill and raising their chances of winning.
		
	section.white
		div.max_width_container
			+big-titles('Políticas', 'Centro de Diseño')
			
			div.cards-1
				+container-cards-img('../images/svg/pdf.svg', 'alt', 'Política Centro de Diseño', 'Learn how to improve your playing quality and even overall understanding of online gaming and how you perform while playing online.', '../politicas/politica-centro-de-diseno.html', 'Entrar')
				+container-cards-img('../images/svg/pdf.svg', 'alt', 'Solicitudes Centro de Diseño', 'Learn how to improve your playing quality and even overall understanding of online gaming and how you perform while playing online.', '../politicas/politica-centro-de-diseno.html', 'Entrar')
				
				
				
				
				
				