extends ../../jade/includes/layout-pages.jade

//- Head html tag
block title
	title Logotipo Facultades Universidad El Bosque

//- Content page
block content
				
	//- banner
	section.banner-home#identidad
		div.max_width_container
			div
				h1 Logotipos Facultad de Ciencias
				
	
	section
		div.max_width_container
		
			div.content-container
				
				- var projects = [ {name: 'Introducción',link: "#sec0",} , {name: 'Facultad de Ciencias',link: "#sec1",} , {name: 'Facultad de Ciencias / Vigilada Mineducación',link: '#sec2',} , {name: 'Programa de Biología',link: '#sec3',} , {name: 'Programa de Biología / Vigilada Mineducación',link: '#sec4',} , {name: 'Facultad de Ciencias / Programa de Biología',link: '#sec5',} , {name: 'Facultad de Ciencias / Programa de Biología / Vigilada Mineducación',link: '#sec6',} , {name: 'Programa de Estadística',link: '#sec7',} , {name: 'Programa de Estadística / Vigilada Mineducación',link: '#sec8',} , {name: 'Facultad de Ciencias / Programa de Estadística',link: '#sec9',} , {name: 'Facultad de Ciencias / Programa de Estadística / Vigilada Mineducación',link: '#sec10',} , {name: 'Programa de Matemáticas',link: '#sec11',} , {name: 'Programa de Matemáticas / Vigilada Mineducación',link: '#sec12',} , {name: 'Facultad de Ciencias / Programa de Matemáticas',link: '#sec13',} , {name: 'Facultad de Ciencias / Programa de Matemáticas / Vigilada Mineducación',link: '#sec14',} ,]; 
				
				+nav
					
				div.content
				
					div.box#sec0
						h2 Logotipos Facultad de Ciencias
						
						h3 Cuando y cómo usarlo
						
						p Se debe usar cuando se necesita representar una facultad y/o departamento en una pieza impresa o digital, para tener un uso adecuado por favor utilizar uno de los que se muestran a continuación según corresponda.
						
						
						div.alert.alert-primary(role="alert") El logotipo tiene usos apropiados y restringidos, para saber más seguir el siguiente enlace   
							a(href='../../identidad/logotipo-ueb.html') usos
					
					
					div.box#sec1
						h3 Logotipos Facultad de Ciencias
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec2
						h3 Logotipos Facultad de Ciencias / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
						
						
					div.box#sec3
						h3 Logotipos Programa de Biología
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-biologia/regular/facultad-logo-ueb-vertical-a-una-linea.png')
									
							
					div.box#sec4
						h3 Logotipos Programa de Biología / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-biologia/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec5
						h3 Logotipos Facultad de Ciencias / Programa de Biología
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
									
							
					div.box#sec6
						h3 Logotipos Facultad de Ciencias / Programa de Biología / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-biologia+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
					div.box#sec7
						h3 Logotipos Programa de Estadística
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-estadistica/regular/facultad-logo-ueb-vertical-a-una-linea.png')
									
							
					div.box#sec8
						h3 Logotipos Programa de Estadística / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-estadistica/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec9
						h3 Logotipos Facultad de Ciencias / Programa de Estadística
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
									
							
					div.box#sec10
						h3 Logotipos Facultad de Ciencias / Programa de Estadística / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-estadistica+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec11
						h3 Logotipos Programa de Matemáticas
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-matematicas/regular/facultad-logo-ueb-vertical-a-una-linea.png')
									
							
					div.box#sec12
						h3 Logotipos Programa de Matemáticas / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-matematicas/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec13
						h3 Logotipos Facultad de Ciencias / Programa de Matemáticas
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
									
							
					div.box#sec14
						h3 Logotipos Facultad de Ciencias / Programa de Matemáticas / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/ciencias/programa-de-matematicas+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
							