extends ../../jade/includes/layout-pages.jade

//- Head html tag
block title
	title Logotipo Facultades Universidad El Bosque

//- Content page
block content
				
	//- banner
	section.banner-home#identidad
		div.max_width_container
			div
				h1 Logotipos Facultad de Creación y Comunicación
				
	
	section
		div.max_width_container
		
			div.content-container
				
				- var projects = [ {name: 'Introducción',link: "#sec0",} , {name: 'Facultad de Creación y Comunicación',link: "#sec1",} , {name: 'Facultad de Creación y Comunicación / Vigilada Mineducación',link: '#sec2',} , {name: 'Programa de Arquitectura',link: "#sec3",} , {name: 'Programa de Arquitectura / Vigilada Mineducación',link: '#sec4',} , {name: 'Facultad de Creación y Comunicación / Programa de Arquitectura',link: "#sec5",} , {name: 'Facultad de Creación y Comunicación / Programa de Arquitectura / Vigilada Mineducación',link: '#sec6',} , {name: 'Programa de Arte Dramático',link: "#sec7",} , {name: 'Programa de Arte Dramático / Vigilada Mineducación',link: '#sec8',} , {name: 'Facultad de Creación y Comunicación / Programa de Arte Dramático',link: "#sec9",} , {name: 'Facultad de Creación y Comunicación / Programa de Arte Dramático / Vigilada Mineducación',link: '#sec10',} , {name: 'Programa de Artes Plásticas',link: "#sec7",} , {name: 'Programa de Artes Plásticas / Vigilada Mineducación',link: '#sec8',} , {name: 'Facultad de Creación y Comunicación / Programa de Artes Plásticas',link: "#sec9",} , {name: 'Facultad de Creación y Comunicación / Programa de Artes Plásticas / Vigilada Mineducación',link: '#sec10',} , {name: 'Programa de Diseño de Comunicación',link: "#sec11",} , {name: 'Programa de Diseño de Comunicación / Vigilada Mineducación',link: '#sec12',} , {name: 'Facultad de Creación y Comunicación / Programa de Diseño de Comunicación',link: "#sec13",} , {name: 'Facultad de Creación y Comunicación / Programa de Diseño de Comunicación / Vigilada Mineducación',link: '#sec14',} , {name: 'Programa de Diseño Industrial',link: "#sec15",} , {name: 'Programa de Diseño Industrial / Vigilada Mineducación',link: '#sec16',} , {name: 'Facultad de Creación y Comunicación / Programa de Diseño Industrial',link: "#sec17",} , {name: 'Facultad de Creación y Comunicación / Programa de Diseño Industrial / Vigilada Mineducación',link: '#sec18',} , {name: 'Programa de Formación Musical',link: "#sec19",} , {name: 'Programa de Formación Musical / Vigilada Mineducación',link: '#sec20',} , {name: 'Facultad de Creación y Comunicación / Programa de Formación Musical',link: "#sec21",} , {name: 'Facultad de Creación y Comunicación / Programa de Formación Musical / Vigilada Mineducación',link: '#sec22',} ,]; s
				
				+nav
					
				div.content
				
					div.box#sec0
						h2 Logotipos Facultad de Creación y Comunicación
						
						h3 Cuando y cómo usarlo
						
						p Se debe usar cuando se necesita representar una facultad y/o departamento en una pieza impresa o digital, para tener un uso adecuado por favor utilizar uno de los que se muestran a continuación según corresponda.
						
						
						div.alert.alert-primary(role="alert") El logotipo tiene usos apropiados y restringidos, para saber más seguir el siguiente enlace   
							a(href='../../identidad/logotipo-ueb.html') usos
					
					
					div.box#sec1
						h3 Logotipos Facultad de Creación y Comunicación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec2
						h3 Logotipos Facultad de Creación y Comunicación / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
					//-----------------
					//- Arquitectura
					//-----------------
					div.box#sec3
						h3 Logotipos Programa de Arquitectura
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec4
						h3 Logotipos Programa de Arquitectura / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec5
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Arquitectura
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec6
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Arquitectura / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arquitectura+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					//-----------------
					//- Arte dramático
					//-----------------
					div.box#sec7
						h3 Logotipos Programa de Arte Dramático
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec8
						h3 Logotipos Programa de Arte Dramático / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec9
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Arte Dramático
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec10
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Arte Dramático / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-arte-dramatico+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					//-----------------
					//- Artes Plásticas
					//-----------------
					div.box#sec11
						h3 Logotipos Programa de Artes Plásticas
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec12
						h3 Logotipos Programa de Artes Plásticas / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec13
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Artes Plásticas
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec14
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Artes Plásticas / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-artes-plasticas+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
							
					//-----------------
					//- Diseño de Comunicación
					//-----------------
					div.box#sec15
						h3 Logotipos Programa de Diseño de Comunicación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec16
						h3 Logotipos Programa de Diseño de Comunicación / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec17
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Diseño de Comunicación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec18
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Diseño de Comunicación / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-de-comunicacion+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					//-----------------
					//- Diseño Industrial
					//-----------------
					div.box#sec19
						h3 Logotipos Programa de Diseño Industrial
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec20
						h3 Logotipos Programa de Diseño Industrial / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec21
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Diseño Industrial
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec22
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Diseño Industrial / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-diseno-industrial+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
					//-----------------
					//- Formación Musical
					//-----------------
					div.box#sec3
						h3 Logotipos Programa de Formación Musical
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec4
						h3 Logotipos Programa de Formación Musical / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec5
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Formación Musical
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/regular/facultad-logo-ueb-vertical-a-una-linea.png')
							
							
					div.box#sec6
						h3 Logotipos Facultad de Creación y Comunicación / Programa de Formación Musical / Vigilada Mineducación
						
						div.ejemplos
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-vertical-a-dos-lineas.png')
							
							+ejemplos('../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.svg', '../../descargas/facultades/creacion-y-comunicacion/programa-de-formacion-musical+facultad/vigilada/facultad-logo-ueb-vertical-a-una-linea.png')