extends ../jade/includes/layout-pages.jade

//- Head html tag
block title
	title Logotipo Universidad El Bosque

//- Content page
block content
				
	//- banner
	section.banner-home#identidad
		div.max_width_container
			div
				h1 Color
				
	
	section
		div.max_width_container
		
			div.content-container
				
				- var projects = [ {name: 'Our typeface',link: "#sec0",} , {name: 'Colores principales',link: "#sec1",} , {name: 'Colores departamentos y facultades',link: '#sec2',} , {name: 'Colores complementarios',link: '#sec3',} ,]; 
				
				+nav
					
				div.content
				
					h1#sec0 Introducción
					p Besides our name and emblems, the most recognizable part of our Identity system is our colors.
					
					h3 Use the identity colors, especially Cardinal Red
					
					p Consistently and appropriately using our identity colors is one of the most effective ways to make sure our communication reflects a recognizable Stanford feel. Cardinal Red has been Stanford’s official color since the University’s earliest days, and supporting colors are drawn from our campus architecture and the California landscape. Feel free to combine Identity colors for a unique feel that reflects the personality of your unit.
						
					h3 Don't convert a color from one color space to another
					
					p When working with our colors - especially Cardinal Red - start with the correct color space (and source file, where applicable) for your intended medium. Our colors will distort when unintentionally converting between CMYK or RGB/Hex (for example, saving an image for web that contains an embedded .eps version of our emblems). This is especially true for Cardinal Red which can either become too pink or too maroon. Make sure before publishing on the web or at press check that our colors - in particular Cardinal Red - are all the right hue.
					p Use Pantone (spot color only) or CMYK for externally printed pieces, RGB for documents printed in the office, and HEX for web and digital colors. DO NOT convert between these color spaces. When you embed an .eps version of our emblems, make sure it’s the correct HEX color value BEFORE saving for web or digital.
					
					h3 Use enough contrast for readability
					
					p Colors without enough difference between them can blend together and be hard to read. Use at least 3:1 contrast ratio between foreground and background - especially for text. Similarly, take care to comply with accessibility guidelines for colorblindness (such as avoiding some color combinations like red on green). For more information or tools to test color for accessibility, refer to the SOAP website.
					
					h3 Don't rely on color alone
					
					p When communicating emphasis or hierarchy, use size, shape, font weight or placement in addition to color. Remember, not everyone will be able to differentiate color by itself.
					
					
					+download-n-files([
						{'class_container':'clase1', 'url_img':'#', 'alt_text':'imagen de prueba', 'class_img':'class', 'titulo_h5': 'Home', 'link':'index.html', 'link_title':'descargar' },
						{'class_container':'clase1', 'url_img':'#', 'alt_text':'imagen de prueba', 'class_img':'class', 'titulo_h5': 'Bedroom', 'link':'index2.html', 'link_title':'descargar2' },
					])
					
					
					h1#sec1 Colores principales
					
					
					div.color-info
						+card-color([
							{'color_title':'Roble', 
							'color_ID':'roble', 
							'pantone':'5743 C', 
							'cmyk':'68 - 49 - 86 - 53', 
							'hex':'#404827', 
							'rgb':'64 - 72 - 39'},
							
							{'color_title':'Eucalipto', 
							'color_ID':'eucalipto', 
							'pantone':'327 C', 
							'cmyk':'100 - 3 - 59 - 14', 
							'hex':'#008776', 
							'rgb':'0 - 135 - 118'},
							
							{'color_title':'Acacia', 
							'color_ID':'acacia', 
							'pantone':'376 C', 
							'cmyk':'54 - 0 - 100 - 0', 
							'hex':'#81bb26', 
							'rgb':'129 - 186 - 38'},
							
							{'color_title':'Heliconia', 
							'color_ID':'heliconia', 
							'pantone':'715 C', 
							'cmyk':'0 - 60 - 100 - 0', 
							'hex':'#f08013', 
							'rgb':'240 - 128 - 19'},
						])
					
					
					h1#sec2 Colores departamentos y facultades
					
					div.color-info
						+card-color([
							{'color_title':'Departamento de Bioética', 
							'color_ID':'depbioetica', 
							'pantone':'347 C', 
							'cmyk':'93 - 0 - 100 - 0', 
							'hex':'#009a44', 
							'rgb':'0 - 154 - 68'},
							
							{'color_title':'Departamento de Humanidades', 
							'color_ID':'dephumanidades', 
							'pantone':'1955 C', 
							'cmyk':'9 - 100 - 54 - 43', 
							'hex':'#8a1538', 
							'rgb':'138 - 21 - 56'},
							
							{'color_title':'Facultad de Ciencias', 
							'color_ID':'facciencias', 
							'pantone':'377 C', 
							'cmyk':'50 - 1 - 100 - 20', 
							'hex':'#7a9a01', 
							'rgb':'122 - 154 - 1'},
							
							{'color_title':'Facultad de Ciencias Administrativas y Económicas', 
							'color_ID':'faccienciaseconomicas', 
							'pantone':'302 C', 
							'cmyk':'100 - 48 - 12 - 58', 
							'hex':'#003b5c', 
							'rgb':'0 - 59 - 92'},
							
							{'color_title':'Facultad de Ciencias Políticas y Jurídicas', 
							'color_ID':'faccienciaspoliticas', 
							'pantone':'3005 C', 
							'cmyk':'100 - 31 - 0 - 0', 
							'hex':'#0077c8', 
							'rgb':'0 - 119 - 200'},
							
							{'color_title':'Facultad de Creación y Comunicación', 
							'color_ID':'faccreacion', 
							'pantone':'226 C', 
							'cmyk':'0 - 100 - 2 - 0', 
							'hex':'#d0006f', 
							'rgb':'208 - 0 - 100'},
							
							{'color_title':'Facultad de Educación', 
							'color_ID':'faceducacion', 
							'pantone':'7472 C', 
							'cmyk':'54 - 0 - 27 - 0', 
							'hex':'#5cb8b2', 
							'rgb':'92 - 184 - 178'},
							
							{'color_title':'Facultad de Enfermería', 
							'color_ID':'facenfermeria', 
							'pantone':'292 C', 
							'cmyk':'59 - 11 - 0 - 0', 
							'hex':'#69b3e7', 
							'rgb':'105 - 179 - 231'},
							
							{'color_title':'Facultad de Ingeniería', 
							'color_ID':'facingenieria', 
							'pantone':'7714 C', 
							'cmyk':'96 - 0 - 30 - 45', 
							'hex':'#007680', 
							'rgb':'0 - 118 - 128'},
							
							{'color_title':'Facultad de Medicina', 
							'color_ID':'facmedicina', 
							'pantone':'716 C', 
							'cmyk':'0 - 61 - 99 - 0', 
							'hex':'#ea7600', 
							'rgb':'234 - 118 - 0'},
							
							{'color_title':'Facultad de Odontología', 
							'color_ID':'facodontologia', 
							'pantone':'7417 C', 
							'cmyk':'1 - 83 - 85 - 0', 
							'hex':'#e04e39', 
							'rgb':'224 - 78 - 57'},
							
							{'color_title':'Facultad de Psicología', 
							'color_ID':'facpsicologia', 
							'pantone':'130 C', 
							'cmyk':'0 - 32 - 100 - 0', 
							'hex':'#f2a900', 
							'rgb':'242 - 169 - 0'},
						])
						
						
						
					h1#sec3 Colores complementarios / revisar pantones y cmyk despues
					
					div.color-info
						+card-color([
							{'color_title':'Gris 2%', 
							'color_ID':'gris2', 
							'pantone':'347 C', 
							'cmyk':'93 - 0 - 100 - 0', 
							'hex':'#FAFAFA', 
							'rgb':'249 - 249 - 249'},
							
							{'color_title':'Gris 10%', 
							'color_ID':'gris10', 
							'pantone':'347 C', 
							'cmyk':'93 - 0 - 100 - 0', 
							'hex':'#F7F7F7', 
							'rgb':'247 - 247 - 247'},
							
							{'color_title':'Gris 10%', 
							'color_ID':'gris10', 
							'pantone':'347 C', 
							'cmyk':'93 - 0 - 100 - 0', 
							'hex':'#F1F1F1', 
							'rgb':'241 - 241 - 241'},
							
							{'color_title':'Gris 15%', 
							'color_ID':'gris15', 
							'pantone':'347 C', 
							'cmyk':'93 - 0 - 100 - 0', 
							'hex':'#EDEDED', 
							'rgb':'237 - 237 - 237'},
							
							{'color_title':'Gris 20%', 
							'color_ID':'gris20', 
							'pantone':'347 C', 
							'cmyk':'93 - 0 - 100 - 0', 
							'hex':'#DDDDDD', 
							'rgb':'221 - 221 - 221'},
							
							{'color_title':'Gris 50%', 
							'color_ID':'gris50', 
							'pantone':'347 C', 
							'cmyk':'93 - 0 - 100 - 0', 
							'hex':'#BABBBE', 
							'rgb':'186 - 186 - 186'},
							
							{'color_title':'Gris 60%', 
							'color_ID':'gris60', 
							'pantone':'347 C', 
							'cmyk':'93 - 0 - 100 - 0', 
							'hex':'#9A9A9A', 
							'rgb':'154 - 154 - 154'},
							
							{'color_title':'Gris 80%', 
							'color_ID':'gris80', 
							'pantone':'347 C', 
							'cmyk':'93 - 0 - 100 - 0', 
							'hex':'#474747', 
							'rgb':'71 - 71 - 71'},
						])
						
						
						
						
						
			