extends ../jade/includes/layout-pages.jade

//- Head html tag
block title
	title Logotipo Universidad El Bosque

//- Content page
block content
				
	//- banner
	section.banner-home
		div.max_width_container
			div
				h1 Logotipo Universidad El Bosque
				
	
	section
		div.max_width_container
		
			div.content-container
				
				- var projects = [ {name: 'Introducción',link: "#sec0",} , {name: 'Logotipo usos',link: "#sec1",} , {name: 'Logotipo Vigilada Mineducación descargas',link: '#sec5',} , ]; 
				
				+nav
					
				div.content
				
					div.box#sec0
						h2 Introducción
						p La Universidad El Bosque ha sido reconocida desde su fundación por la alta calidad de sus productos y servicios, por la entrega y colaboración de su equipo y por orientar sus acciones hacia una cultura de la vida, lo cual se manifiesta en todos los espacios acompañados por el Logotipo de la Universidad.
						p De esta forma, aunque el Logotipo mantiene un estilo clásico como atributo inherente a su historia y tradición, la marca es suficientemente flexible para adaptarse a la evolución de la misma Universidad y a las dinámicas del entorno.
					
					div.box
						h3 Cuando usar el Logotipo de la Universidad El Bosque
						
						p Usar el logotipo cuando se haga una pieza de comunicación que contenga el nombre de la Universidad El Bosque.
					
						div.si_no
							div.si
								h3 Qué hacer
								ul
									li Usar el logotipo cuando se haga una pieza de comunicación que contenga el nombre de la Universidad El Bosque.
									li Usar las recomendaciones dadas para mantener una línea de comunicación gráfica consistente.
									li Compartir esta información con las personas que necesiten o vayan a realizar algún proyecto de comunicación gráfica de la Universidad El Bosque.
									li Usar el logotipo apropiado según el tipo de comunicación que se vaya a realizar.
									li Escribir a   
										a(href='mailto:centrodediseno@unbosque.edu.co' target='_blank')   centrodediseno@unbosque.edu.co        
										|   en caso de tener alguna duda sobre el uso del identificador de la Universidad El Bosque.
							div.no
								h3 Qué <u>no</u> hacer
								ul
									li No usar el nombre y/o identificador de la Universidad El Bosque en proyectos personales 
									li No usar el nombre y/o identificador de la Universidad El Bosque mencionando una relación, afiliación a un producto y/o servicio o negocio sin previa aprobación para hacerlo.
									li No dar permiso a ninguna personal natural o jurídica fuera de la Universidad El Bosque a usar el identificador y/o nombre para mencionar una relacion o afiliación a un producto, servicio o negocio sin previa autorización.
									li No usar el nombre y/o identificador de la Universidad El Bosque para crear cualquier material promocional o productos físicos sin previa autorización.
									li No alterar o modificar el identificador de la Universidad El Bosque.  
								
								
								
								
								
					div.box#sec3
						h2 Usos indebidos del logotipo
						
						p A continuación puede encontrar nuestro logo con el legal Vigilada Mineducación, por favor úselo responsablemente.
						
						
						div.alert.alert-primary(role="alert") Las facultades tienen su propio identificador, si necesita usar alguno por favor entre al siguiente enlace  
							a(href='../identidad/logotipo-ueb-facultades.html') Logotipo facultades
					
					
					
					div.box#sec1
						h2 Logotipo Universidad El Bosque - Usos
						
						div.ejemplos
							div
								img.classimg(src='../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas.svg')
								
								h3 Horizontal a dos líneas
								
								p Por su orientación horizontal y su composición en dos renglones esta es la versión más versatil del Logotipo, ya que puede ser usada en espacios reducidos como encabezados y pié de páginas sin perder legibilidad, tanto sola como con acompañamientos.
								
							div
								img.classimg(src='../descargas/logo-ueb/logo-ueb-vertical-a-dos-lineas.svg')
								
								h3 Vertical a dos líneas
								
								p Por su naturaleza cuadrada esta versión se considera la más apropiada para usar cuando el Logotipo se encuentra con el de otras empresas como en material promocional de actividades copatrocinadas.
								
							div
								img.classimg(src='../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea.svg')
								
								h3 Horizontal a una línea
								
								p Diseñada para espacios extremadamente estrechos, la versión horizontal a una línea se usa en donde otras versiones del Logotipo sean ilegibles, como en esferos, manillas y lomos de libros y revistas.
								
							div
								img.classimg(src='../descargas/logo-ueb/logo-ueb-vertical-a-una-linea.svg')
								
								h3 Vertical a una línea
								
								p Es la versión más formal del Logotipo, por lo cual es común usarla en diplomas, certificados, reconocimientos, y en comunicados de Rectoría y Vicerrectorías.
					
					
					
					div.box#sec2
						h2 Logotipo Universidad El Bosque - Descargas
						
						p A continuación puede encontrar nuestro logo para descargar, por favor úselo responsablemente.
						
						div.ejemplos
							//- horizontal a dos lineas
							+ejemplos('../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-tinta-negra.svg', 'Logotipo Universidad El Bosque horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas positivo a una tinta', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-tinta-negra.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-tinta-negra.png')
							
							+ejemplos('../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-invertido.svg', 'Logotipo Universidad El Bosque horizontal a dos lineas', 'classimg invertido', 'Horizontal a dos líneas', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-invertido.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-invertido.png')
							
							//- horizontal a una lineas
							+ejemplos('../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-tinta-negra.svg', 'Logotipo Universidad El Bosque horizontal a una linea', 'classimg', 'Horizontal a una línea positivo a una tinta', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-tinta-negra.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-tinta-negra.png')
							
							+ejemplos('../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-invertido.svg', 'Logotipo Universidad El Bosque horizontal a una linea', 'classimg invertido', 'Horizontal a una línea', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-invertido.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-invertido.png')
							
							//- vertical a una linea
							+ejemplos('../descargas/logo-ueb/logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea.png')
							
							+ejemplos('../descargas/logo-ueb/logo-ueb-vertical-a-una-linea-tinta-negra.svg', 'Logotipo Universidad El Bosque vertical a una linea', 'classimg', 'Vertical a una línea positivo a una tinta', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-tinta-negra.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-tinta-negra.png')
							
							+ejemplos('../descargas/logo-ueb/logo-ueb-vertical-a-una-linea-invertido.svg', 'Logotipo Universidad El Bosque vertical a una linea', 'classimg invertido', 'Vertical a una línea', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-invertido.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-una-linea-invertido.png')
							
							//- vertical a dos lineas
							+ejemplos('../descargas/logo-ueb/logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque vertical a una linea', 'classimg', 'Vertical a dos líneas', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas.png')
							
							+ejemplos('../descargas/logo-ueb/logo-ueb-vertical-a-dos-lineas-tinta-negra.svg', 'Logotipo Universidad El Bosque vertical a una linea', 'classimg', 'Vertical a dos líneas positivo a una tinta', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-tinta-negra.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-tinta-negra.png')
							
							+ejemplos('../descargas/logo-ueb/logo-ueb-vertical-a-dos-lineas-invertido.svg', 'Logotipo Universidad El Bosque vertical a una linea', 'classimg invertido', 'Vertical a dos líneas', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-invertido.svg', '../descargas/logo-ueb/logo-ueb-horizontal-a-dos-lineas-invertido.png')
					
					
					div.box#sec5
						h2 Logotipo Universidad El Bosque Vigilada Mineducación - Descargas
						
						p A continuación puede encontrar nuestro logo con el legal Vigilada Mineducación, por favor úselo responsablemente.
						
						div.ejemplos
							//- horizontal a dos lineas
							+ejemplos('../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-dos-lineas-vigilada.svg', 'Logotipo Universidad El Bosque Vigilada Mineducaión horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-dos-lineas-vigilada.svg', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-dos-lineas-vigilada.png')
							
							+ejemplos('../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-una-linea-vigilada.svg', 'Logotipo Universidad El Bosque Vigilada Mineducaión horizontal a dos lineas', 'classimg', 'Horizontal a una línea', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-una-linea-vigilada.svg', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-una-linea-vigilada.png')
							
							+ejemplos('../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-una-linea-vigilada.svg', 'Logotipo Universidad El Bosque Vigilada Mineducaión horizontal a dos lineas', 'classimg', 'Vertical a una línea', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-una-linea-vigilada.svg', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-una-linea-vigilada.png')
							
							+ejemplos('../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-dos-lineas-vigilada.svg', 'Logotipo Universidad El Bosque Vigilada Mineducaión horizontal a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-dos-lineas-vigilada.svg', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-dos-lineas-vigilada.png')
					
						
					//- +accordion("sample")
					//- 	+accordion-item-primary("Logotipo Universidad El Bosque - Vigilada Mineducación","sample","true")
					//- 		p A continuación puede encontrar nuestro logo con el legal Vigilada Mineducación, por favor úselo responsablemente.
					//- 
					//- 		div.ejemplos#sec3
					//- 			//- horizontal a dos lineas
					//- 			+ejemplos('../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-dos-lineas-vigilada.svg', 'Logotipo Universidad El Bosque Vigilada Mineducaión horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-dos-lineas-vigilada.svg', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-dos-lineas-vigilada.png')
					//- 			
					//- 			+ejemplos('../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-una-linea-vigilada.svg', 'Logotipo Universidad El Bosque Vigilada Mineducaión horizontal a dos lineas', 'classimg', 'Horizontal a una línea', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-una-linea-vigilada.svg', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-horizontal-a-una-linea-vigilada.png')
					//- 			
					//- 			+ejemplos('../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-una-linea-vigilada.svg', 'Logotipo Universidad El Bosque Vigilada Mineducaión horizontal a dos lineas', 'classimg', 'Vertical a una línea', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-una-linea-vigilada.svg', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-una-linea-vigilada.png')
					//- 			
					//- 			+ejemplos('../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-dos-lineas-vigilada.svg', 'Logotipo Universidad El Bosque Vigilada Mineducaión horizontal a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-dos-lineas-vigilada.svg', '../descargas/logo-ueb-vigilada-mineducacion/logo-ueb-vertical-a-dos-lineas-vigilada.png')
						
						
						
						
						
			