extends ../jade/includes/layout-pages.jade

//- Head html tag
block title
	title Logotipo Facultades Universidad El Bosque

//- Content page
block content
				
	//- banner
	section.banner-home
		div.max_width_container
			div
				h1 Logotipos Facultades / Departamentos Universidad El Bosque
				
	
	section
		div.max_width_container
		
			div.content-container
				
				- var projects = [ {name: 'Introducción',link: "#sec0",} , {name: 'Logotipo Facultad de Ciencias',link: "#sec1",} , {name: 'Logotipo Facultad de Ciencias Económicas y Administrativas',link: '#sec2',} , {name: 'Logotipo Facultad de Ciencias Jurídicas y Políticas',link: '#sec3',} , {name: 'Logotipo Facultad de Creación y Comunicación',link: '#sec4',} , {name: 'Logotipo Facultad de Educación',link: '#sec5',} , {name: 'Logotipo Facultad de Enfermería',link: '#sec6',} , {name: 'Logotipo Facultad de Ingeniería',link: '#sec7',} , {name: 'Logotipo Facultad de Medicina',link: '#sec8',} , {name: 'Logotipo Facultad de Odontología',link: '#sec9',} , {name: 'Logotipo Facultad de Psicología',link: '#sec10',} ,]; 
				
				+nav
					
				div.content
				
					h2#sec0 Logotipos Facultades / Departamentos Universidad El Bosque
					
					h3 Cuando usar el un logotipo de una facultad y/o departamento de la Universidad El Bosque
					
					p Learn how to improve your playing quality and even overall understanding of online gaming and how you perform while playing online. Gaming online is a huge business nowadays and that means that there are millions of people worldwide at online game sites all the time. Many are people just like you and me that like to play online and have fun doing it. Some of these people enjoy it so much, that they often do not even care about improving their skill and raising their chances of winning.
					
					p Learn how to improve your playing quality and even overall understanding of online gaming and how you perform while playing online. Gaming online is a huge business nowadays and that means that there are millions of people worldwide at online game sites all the time. Many are people just like you and me that like to play online and have fun doing it. Some of these people enjoy it so much, that they often do not even care about improving their skill and raising their chances of winning.
					
					
					div.alert.alert-primary(role="alert") El logotipo tiene usos apropiados y restringidos, para saber más seguir el siguiente enlace   
						a(href='../identidad/logotipo-ueb.html') usos
					
					h2#sec1 Logotipo Facultad de Ciencias
					
					div.ejemplos#sec1
						+ejemplos('../descargas/facultades/ciencias/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/ciencias/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/ciencias/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/ciencias/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/ciencias/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/ciencias/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/ciencias/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/ciencias/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/ciencias/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/ciencias/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/ciencias/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/ciencias/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Ciencias Vigilada Mineducación","sample","true")
							|  This is first accordion content
						//- +accordion-item-default("Title2","sample")
						//- 	|  This is second accordion content
						//- +accordion-item-default("Title3","sample")
						//- 	|  This is third accordion content
						
					h2#sec2 Logotipo Facultad de Ciencias Económicas y Administrativas
					
					div.ejemplos
						+ejemplos('../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias Económicas y Administrativas horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias Económicas y Administrativas horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias Económicas y Administrativas vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias Económicas y Administrativas vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/ciencias-economicas-y-administrativas/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Ciencias Económicas y Administrativas Vigilada Mineducación","sample","true")
							|  This is first accordion content
							
					
					h2#sec3 Logotipo Facultad de Ciencias Jurídicas y Políticas
					
					div.ejemplos
						+ejemplos('../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias Jurídicas y Políticas horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias Jurídicas y Políticas horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias Jurídicas y Políticas vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ciencias Jurídicas y Políticas vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/ciencias-politicas-y-juridicas/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Ciencias Jurídicas y Políticas Vigilada Mineducación","sample","true")
							|  This is first accordion content
							
							
					h2#sec4 Logotipo Facultad de Creación y Comunicación
					
					div.ejemplos
						+ejemplos('../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Creación y Comunicación horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Creación y Comunicación horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Creación y Comunicación vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Creación y Comunicación vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/creacion-y-comunicacion/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Creación y Comunicación Vigilada Mineducación","sample","true")
							|  This is first accordion content
							
							
					h2#sec5 Logotipo Facultad de Educación
					
					div.ejemplos
						+ejemplos('../descargas/facultades/educacion/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Educación horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/educacion/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/educacion/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/educacion/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Educación horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/educacion/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/educacion/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/educacion/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Educación vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/educacion/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/educacion/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/educacion/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Educación vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/educacion/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/educacion/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Educación Vigilada Mineducación","sample","true")
							|  This is first accordion content
							
							
					h2#sec6 Logotipo Facultad de Enfermería
					
					div.ejemplos
						+ejemplos('../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Enfermería horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Enfermería horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Enfermería vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/educacion/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Enfermería vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Enfermería Vigilada Mineducación","sample","true")
							|  This is first accordion content
							
							
					h2#sec7 Logotipo Facultad de Ingeniería
					
					div.ejemplos
						+ejemplos('../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ingeniería horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/enfermeria/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ingeniería horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Ingeniería vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Ingeniería vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/ingenieria/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Ingeniería Vigilada Mineducación","sample","true")
							|  This is first accordion content
							
							
					h2#sec8 Logotipo Facultad de Medicina
					
					div.ejemplos
						+ejemplos('../descargas/facultades/medicina/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Medicina horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/medicina/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/medicina/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/medicina/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Medicina horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/medicina/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/medicina/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/medicina/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Medicina vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/medicina/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/medicina/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/medicina/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Medicina vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/medicina/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/medicina/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Medicina Vigilada Mineducación","sample","true")
							|  This is first accordion content
							
							
					h2#sec9 Logotipo Facultad de Odontología
					
					div.ejemplos
						+ejemplos('../descargas/facultades/odontologia/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Odontología horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/odontologia/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/odontologia/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/odontologia/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Odontología horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/odontologia/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/odontologia/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/odontologia/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Odontología vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/odontologia/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/odontologia/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/odontologia/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Odontología vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/odontologia/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/odontologia/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Odontología Vigilada Mineducación","sample","true")
							|  This is first accordion content
							
							
					h2#sec10 Logotipo Facultad de Psicología
					
					div.ejemplos
						+ejemplos('../descargas/facultades/psicologia/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Psicología horizontal a dos lineas', 'classimg', 'Horizontal a dos líneas', '../descargas/facultades/psicologia/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/facultades/psicologia/facultad/facultad-logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/psicologia/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Psicología horizontal a una linea', 'classimg', 'Horizontal a una línea', '../descargas/facultades/psicologia/facultad/facultad-logo-ueb-horizontal-a-una-linea.svg', '../descargas/facultades/psicologia/facultad/facultad-logo-ueb-horizontal-a-una-linea.png')
						
						+ejemplos('../descargas/facultades/psicologia/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', 'Logotipo Universidad El Bosque Facultad de Psicología vertical a dos lineas', 'classimg', 'Vertical a dos líneas', '../descargas/facultades/psicologia/facultad/facultad-logo-ueb-vertical-a-dos-lineas.svg', '../descargas/facultades/psicologia/facultad/facultad-logo-ueb-vertical-a-dos-lineas.png')
						
						+ejemplos('../descargas/facultades/psicologia/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', 'Logotipo Universidad El Bosque Facultad de Psicología vertical a una linea', 'classimg', 'Vertical a una línea', '../descargas/facultades/psicologia/facultad/facultad-logo-ueb-vertical-a-una-linea.svg', '../descargas/facultades/psicologia/facultad/facultad-logo-ueb-vertical-a-una-linea.png')
						
					+accordion("sample")
						+accordion-item-primary("Logotipo Facultad de Psicología Vigilada Mineducación","sample","true")
							|  This is first accordion content
					
						
						
						
						
						
			