extends ../jade/includes/layout-pages.jade

//- Head html tag
block title
	title Logotipo Universidad El Bosque

//- Content page
block content
				
	//- banner
	section.banner-home
		div.max_width_container
			div
				h1 Logotipo Universidad El Bosque
				
	
	section
		div.max_width_container
		
			div.content-container
			
				div.menu-side
					p menu side
					
				div.content
					h1 Introducción
					p La Universidad El Bosque ha sido reconocida desde su fundación por la alta calidad de sus productos y servicios, por la entrega y colaboración de su equipo y por orientar sus acciones hacia una cultura de la vida, lo cual se manifiesta en todos los espacios acompañados por el Logotipo de la Universidad.
					p De esta forma, aunque el Logotipo mantiene un estilo clásico como atributo inherente a su historia y tradición, la marca es suficientemente flexible para adaptarse a la evolución de la misma Universidad y a las dinámicas del entorno.
					
					h3 Cuando usar el Logotipo de la Universidad El Bosque
					
					p Learn how to improve your playing quality and even overall understanding of online gaming and how you perform while playing online. Gaming online is a huge business nowadays and that means that there are millions of people worldwide at online game sites all the time. Many are people just like you and me that like to play online and have fun doing it. Some of these people enjoy it so much, that they often do not even care about improving their skill and raising their chances of winning.
					
					div.si_no
						div.si
							h3 Qué hacer
							ul
								li Uso correcto 
								li Uso correcto 
								li Uso correcto 
								li Uso correcto 
						div.no
							h3 Qué <u>no</u> hacer
							ul
								li Uso incorrecto 
								li Uso incorrecto 
								li Uso incorrecto 
								li Uso incorrecto 
					
					div.alert.alert-primary(role="alert") Las facultades tienen su propio identificador, si necesita usar alguno por favor entre al siguiente enlace  
						a(href='#') Logotipo facultades
						
					h2 Logotipo Universidad El Bosque
					
					p A continuación puede encontrar nuestro logo, por favor úselo responsablemente.
					
					div.ejemplos
						+ejemplos('../descargas/logo-ueb-horizontal-a-dos-lineas.svg', 'Logo Universidad El Bosque horizontal a dos lineas', 'classimg', 'Logotipo horizontal  a dos líneas Universidad El Bosque', '../descargas/logo-ueb-horizontal-a-dos-lineas.svg', '../descargas/logo-ueb-horizontal-a-dos-lineas.png')
						
						+ejemplos('#', 'alttext', 'classimg', 'Logotipo Universidad El Bosque', '#', '#')
						
						+ejemplos('#', 'alttext', 'classimg', 'Logotipo Universidad El Bosque', '#', '#')
						
						
						
						
						
			