extends ../jade/includes/layout-pages.jade

//- Head html tag
block title
	title Logotipo Universidad El Bosque

//- Content page
block content
				
	//- banner
	section.banner-home#tipografia
		div.max_width_container
			div
				h1 Tipografía 
				
	
	section#tipografia
		div.max_width_container
		
			div.content-container
				
				- var projects = [ {name: 'Our typeface',link: "#sec0",} , {name: 'Acherus Grotesque',link: "#sec1",} , {name: 'Lato',link: '#sec2',} , ]; 
				
				+nav
					
				div.content
				
					div.box#sec0
						h1 Nuestra tipografía
						
						p La tipografía institucional de la Universidad El Bosque es tan importante como nuestro logo. Representa quiénes somos y en lo que creemos como Universidad y como diseñadores.
					
					
					
					div.box#sec1
						h1 Acherus Grotesque
						
						p Es la tipografía principal de la Universidad El Bosque y por regla general debe estar presenta en todas las piezas de comunicación que se creen.
					
						div.typography#acherus
							span.typothin Thin
							span.typoultra Ultra Light
							span.typolight Light
							span.typoregular Regular
							span.typomedium Medium
							span.typobold Bold
							span.typoextra Extra Bold
							span.typoblack Black
						
						div.alert.alert-primary(role="alert") 
							p En caso de necesitar los archivos fuente de la tipografía Acherus Grotesque por favor comuníquese con el    
								a(href='mailto:centrodediseno@unbosque.edu.co') Centro de Diseño
					
					
					div.box#sec2
						h1 Lato
						
						p Sirve como complemento, generalmente para usar solo en textos corridos o ciertos detalles dentro del diseño.
						
						div.typography#lato
							span.typothin Thin
							span.typolight Light
							span.typoregular Regular
							span.typobold Bold
							span.typoblack Black
							
						div.alert.alert-primary(role="alert") 
							p En caso de necesitar los archivos fuente de la tipografía Lato ingrese al siguiente enlace   
								a(href='https://fonts.google.com/specimen/Lato' target='_blank') Descargar