doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='description' content='Políticas y lineamientos para el manejo de marca de la Universidad El Bosque')
		meta(name='application-name' content='Universidad EL Bosque - Identidad')
		meta(name='author' content='Centro De Diseño')
		block title
			title The title
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
		link(rel='stylesheet' type='text/css' href='../../css/style.css')
		script(src='../../js/modernizr.custom.js')
		<!--[if IE]>
			<script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
		<![endif]-->
	
	body
		//- mixins file
		include mixins.jade
		
		header
			div.pre-header: a(href='https://www.unbosque.edu.co' target='_blank') Ir a Universidad El Bosque
			
			nav.navbar.navbar-expand-lg.navbar-light
				a.navbar-brand(href='../../') 
					img(src='../../images/svg/logo-ueb.svg')
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-icon
					
				div.collapse.navbar-collapse#navbarSupportedContent
							
					li.nav-item.dropdown.active
						a.nav-link.dropdown-toggle(href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Identidad
							span.sr-only (current)
						
						div.dropdown-menu(aria-labelledby='navbarDropdown')
							div.dropdown-item
								div.destacado
									h2 Identidad
									a(href='../identidad.html') Ver más
								div.enlaces
									a(href='../identidad/logotipo-ueb.html') Logotipo
									a(href='../identidad/logotipo-ueb-facultades.html') Logotipos Facultades
									a(href='../identidad/tipografia.html') Tipografía
									a(href='../identidad/color.html') Color
									a(href='../identidad/concepto.html') Concepto
									
									
					li.nav-item.dropdown.active
						a.nav-link.dropdown-toggle(href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Recursos
							span.sr-only (current)
						
						div.dropdown-menu(aria-labelledby='navbarDropdown')
							div.dropdown-item
								div.destacado
									h2 Recursos
									a(href='../recursos.html') Ver más
								div.enlaces
									a(href='../recursos/iconografia.html') Iconografía
									a(href='../recursos/iconos.html') Íconos
									a(href='../recursos/fotografia.html') Fotografía
									
									
					li.nav-item.dropdown.active
						a.nav-link.dropdown-toggle(href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Componentes
							span.sr-only (current)
						
						div.dropdown-menu(aria-labelledby='navbarDropdown')
							div.dropdown-item
								div.destacado
									h2 Componentes
									a(href='../componentes.html') Ver más
								div.enlaces
									a(href='../componentes/acciones.html') Acciones
								
								
									a(href='../componentes/estructura.html') Estructura
									a(href='../componentes/formularios.html') Formularios
									a(href='../componentes/imagenes.html') Imágenes
									a(href='../componentes/indicadores.html') Indicadores
									a(href='../componentes/titulos-y-texto.html') Títulos y texto
									a(href='../componentes/navegacion.html') Navegación
									a(href='../componentes/interacciones.html') Interacciones
									
									
									
					li.nav-item.dropdown.active
						a.nav-link.dropdown-toggle(href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Aplicaciones
							span.sr-only (current)
						
						div.dropdown-menu(aria-labelledby='navbarDropdown')
							div.dropdown-item
								div.destacado
									h2 Aplicaciones
									a(href='../aplicaciones.html') Ver más
								div.enlaces
									a(href='../aplicaciones/documentos.html') Documentos
									a(href='../aplicaciones/papeleria.html') Papelería institucional
									a(href='../aplicaciones/redes.html') Redes sociales
									a(href='../aplicaciones/fotografia.html') Fotografía
									a(href='../aplicaciones/merchandise.html') Material promocional
									
									
									
					li.nav-item.dropdown.active
						a.nav-link.dropdown-toggle(href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Políticas
							span.sr-only (current)
						
						div.dropdown-menu(aria-labelledby='navbarDropdown')
							div.dropdown-item
								div.destacado
									h2 Políticas
									a(href='../politicas.html') Ver más
								div.enlaces
									a(href='../politicas/politica-centro-de-diseno.html') Política Centro de Diseño
									a(href='../politicas/solicitudes-centro-de-diseno.html') Solicitudes Centro de Diseño
									
									
					li.nav-item.dropdown.active
						a.nav-link.dropdown-toggle(href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Soporte
							span.sr-only (current)
						
						div.dropdown-menu(aria-labelledby='navbarDropdown')
							div.dropdown-item
								div.destacado
									h2 Soporte
									a(href='../soporte.html') Ver más
								div.enlaces
									a(href='mailto:centrodediseno@unbosque.edu.co') Correo Centro de Diseño
									a(href='mailto:desierto@unbosque.edu.co') Dirección de Arte Centro de Diseño
									a(href='mailto:coordinacion@unbosque.edu.co') Coordinación Centro de Diseño
						    		
				//-form.form-inline.my-2.my-lg-0
				//-	input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
				//-	button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
			
		
		//- body block content
		block content
		
		
		footer
			div.max_width_container
				div
					h4 Universidad El Bosque
					h5 Instalaciones Bogotá
					p
						img(alt="Sede bogotá" src="../../images/svg/bogota.svg")
					p Av. Cra. 9 No. 131 A - 02
						br/ Línea gratuita:
						br/ 018000 113033
						br/ PBX: (571) 648 9000
						
				div
					h5 Instalaciones Chía
					p
						img(alt="Sede bogotá" src="../../images/svg/chia.svg")
					p Autopista Norte
						br/ Km. 20 costado occidental
						br/ Vía Chía - Bogotá
						br/ Teléfono: 676 3110
						br/ Línea gratuita: 018000 113033
						br/ PBX: (571) 648 9000
						
				div
					h4 Centro de Diseño
					p Facultad de Creación y Comunicación
						br/ PBX. (57-1) 6489000 Ext. 1311
						br/ Calle 131 #7a 39
				
				div
					p Vigilada Mineducación. Personería Jurídica otorgada mediante resolución 11153 del 4 de Agosto de 1978.
		
		//- Page transitions js
		include js-body-ends.jade