/* ---------------------------------- Big titles styles -----------------------------
	------------------------------------------------------------------------------- */
	
.ejemplos-2{
	margin: 2rem 0;
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	grid-gap: 1rem;
}
	
.ejemplos{
	margin: 2rem 0;
	@include display-grid;
	@include grid-parent-3-columns (1fr, 1fr, 1fr);
	grid-gap: 1rem;
	
	>div{
		//border: 1px solid;
	}
	
	.classimg{
		display: inline-block;
		min-height: 11rem;
	    padding: 1rem;
		max-height: 11rem;
	    text-align: center;
	    width: 100%;
	}
	
	.invertido{
		background: black; 
	}
	
	h5{
		text-align: center;
	}
	
	.downloads{
		text-align: center;
		
		.download{
			margin-right: .5rem;
			@include button-s-border-green;
		}
		
	}
	
}